h1{
    text-align: center;
    float: center;
}
/*The aside section*/
table > tbody > tr > td > aside > p{
    float: left;
    font-size: 20px;
    color: violet;
    text-indent: 15px;
}
/*End aside section*/
/*The article section*/
table > tbody > tr > td > article{
    color: violet;
    max-width: 60%;
    word-break: normal;
    padding-left: 24px;
    text-align: left;
    padding-left: none;
    font-size: 28px;
    text-indent: 15px;
}
/*End article section*/
/*The reviews*/
table > tbody > tr > td > aside > h3{
    font-style: italic;
    color: violet;
    float: center;
}
table > tbody > tr > td > aside > p > a{
    color: red;
}
#picLogo{
    height: 600px;
    width: 500px;
}
ol{
    color: violet;
}
h4{
    color: violet;
}